@tailwind base;
@tailwind components;
@tailwind utilities;

.messageScreen::-webkit-scrollbar{
  display: none;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

.mainContainer {
  background: #141E30;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #243B55, #141E30);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, #243B55, #141E30);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.login-btn, .signup-btn {
  background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
  margin: 10px;
  padding: 12px 40px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;            
  border-radius: 10px;
  display: block;
}

.login-btn:hover, .signup-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}
/* 
h1> span{
  background-image: linear-gradient(to right, #AA076B 0%, #61045F  51%, #AA076B  100%);
  color: transparent;
} */